# dependencies
node_modules

# Next.js
.next
out

# production
build
dist

# local env files
.env
.env*.local
config.local.json

# local app storage
storage/*
!storage/.gitkeep
.cache

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system files
.DS_Store
